<Maui RootClass="ConfigureMaui"> 



<Class type="ConfigureMaui" label="Configure Maui">
		<Action label="ApplySettings" class="Maui.Interface.ApplySettingsAction"/>
		<Action label="Save Config" class="Maui.Interface.SaveConfigAction" verbose="true"/>
        <Action label="Reset to Defaults" class="Maui.Interface.ResetDefaultsAction"/>
		<Action label="Close" class="Maui.Interface.ExitSessionAction"/>
       <Fields>
		   <Appearance name="MauiConfig" label="Appearance Settings"/>

		   <Packages name="Packages" label="Package Names"/>

		   <ClassPaths name="ClassPaths" label="Classpath entries"/>

		   <MoreServices name="MoreServices" label="Services to Add"/>
		
       </Fields>

</Class>
 
<Class type="Appearance" label="Appearance settings for Maui">
       <Fields>
           <int name="Font" label="font size"  default="12"/>
           <FrameSize name="FrameSize" label="FrameSize"/>
           <DesktopSize name="DesktopSize" label="Desktop Size"/>
           <BGColor name="BGColor" label="Background Color"/>
        </Fields>
</Class>

<Class type="FrameSize" label="Frame Size">
       <Fields>
          <int name="x" label="x" default="500"/>
          <int name="y" label="y" default="500"/>
        </Fields>
</Class>

<Class type="DesktopSize" label="Desktop Size">
       <Fields>
          <int name="x" label="x" default="600"/>
          <int name="y" label="y" default="800"/>
        </Fields>
</Class>

<Class type="BGColor" label="Background Color">

		<CustomEditor name="Maui.Editors.ColorEditor"/>

       <Fields>
          <int name="r" label="r" default="220"/>
          <int name="g" label="g" default="220"/>
          <int name="b" label="b" default="220"/>
        </Fields>
</Class>

<Class type="ClassPaths" label="Class Paths">
     <Fields>
          <Array name="Classpaths" label="Classpaths">
			  <Master label="$path">
                    <Path name="classpath" label="classpath"/>
                </Master>
<!--
                <Contents>
                  <Item index="0">
                     <Path > 
                       <String name="path" default="/home" ownerType="Path"/>
                     </Path>
                  </Item>
`               </Contents>
-->             
          </Array>
    </Fields>
 </Class>
 

<Class type="Packages" label="Packages">
     <Fields>
          <Array name="Packages" label="Packages">
			  <Master label="$package">
                    <Package name="package" label="package"/>
                </Master>
             
          </Array>
    </Fields>
 </Class>



<Class type="Path" label="Path">
       <Fields>
          <String name="path" default=""/>
       </Fields>
</Class>

<Class type="Package" label="Package">
       <Fields>
          <String name="package" default=""/>
       </Fields>
</Class>

<Class type="MoreServices" label="Services to Add">
     <Fields>
          <Array name="MoreServices" label="MoreServices">
			  <Master label="$label">
                    <NewService name="Service" label="Service"/>
                </Master>
             
          </Array>
    </Fields>
 </Class>

<Class type="NewService" label="New Service">
       <Fields>
          <String name="service" default=""/>
		  <String name="label" default=""/>
		  <boolean name="include" label="To be included" default="true"/>
       </Fields>
</Class>

</Maui>
